
<div class="form-group"  *ngIf="input.type != 'textarea' && input.type != 'select'">
        <label for="email">{{input.label}}</label>
        <input  [type]="input.type" [(ngModel)]="input" [name]="input.name" [value]="input.value?input.value : ''" class="form-control" [id]="input.id"> 
        {(input | json)}
</div>

<!--add select + textarea to component -->
 <!--*ngIf="input.type == 'select'"-->
<div class="form-group" *ngIf="input.type == ('select')">

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="input.id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

{{input.options[input.selected]}}

    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li *ngFor="let option of input.options, let indx = index" (click)="input.selected=indx" ><a href="#"> {{option}}</a></li>
  </ul>
</div>


</div>

<div class="form-group" *ngIf="input.type == ('textarea')" >
<textarea name="input.name"  >
{{input.text}}
</textarea>

</div>
